body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
#creative {
  color: midnightblue;
}
.card {
  width: 45%;
}
.right {
  float: right;
}
.left {
  float: left;
}
.tile-image {
  float: left;
  height: 200px;
  margin-right: 50px;
  border: 5px solid yellow;
}
footer > p {
  text-align: center;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-right: 50px;
  }
  .left {
    display: block;
  }
  .card img {
    width: 100%;
    display: inline;
    margin-bottom: 10px;
  }
  .card {
    width: 100%;
    display: inline;
    margin-bottom: 30px;
    text-align: justify;
    object-fit: cover;
  }

}
